
body{
  height: 100vh;
 display: flex;
 justify-content: center;
align-items: center;
background-color: lightcyan;

}
h1{
margin-left: 100px;
font-size: 60px;
margin-bottom: 25px;

}

.quotebox{
 width: 500px;
height: 240px;
padding: 3px;
margin: 5px;
background-color: rgb(170, 170, 245);
border-radius: 5px;
box-shadow: 0 0 9px rgba(0, 0, 0, 0.733);
}

 .quotebox .firstquote{
  padding: 4px;
  width: 80%;
  height: 40px;
   margin-top: 5%;
  margin-left: 10%;
  font-size: 20px;
 justify-content: center;
 align-items: center;
 text-align: center;
}

 .quotebox  .author{
  text-align: right;
  margin-top: 7%;
  margin-right: 30px;
  
}


.btn{
  cursor: pointer;
background-color:  rgb(136, 24, 241);
  padding: 9px;
  font-size: 17px;
 font-weight: 600;
  border-radius: 10px;
  margin-top: 46px;
 margin-left: 38%;
}
  

